---
import Layout from "@/layouts/Layout.astro";
import Counter from "@/components/Counter.vue";
---

<Layout title="About">
  <h1>About</h1>

  <Counter client:load message={"load"} />
  <Counter client:idle message={"idle"} />

  <div class="separator"></div>

  <Counter client:visible message={"visible"} />
</Layout>

<style>
  .separator {
    height: 100vh;
  }
</style>
